In [1]:
import numpy as np, pandas as pd, matplotlib.pyplot as plt

In [ ]:
data = pd.Series([0,1,2,3,4,5,6,7,8,9])
data.plot()

In [2]:
properties = pd.read_csv('fy19fullpropassess.csv')
properties

c:\users\sriram\appdata\local\programs\python\python37-32\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (15,60) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,PID,CM_ID,GIS_ID,ST_NUM,ST_NAME,ST_NAME_SUF,UNIT_NUM,ZIPCODE,PTYPE,LU,...,U_BTH_STYLE2,U_BTH_STYLE3,U_KITCH_TYPE,U_KITCH_STYLE,U_HEAT_TYP,U_AC,U_FPLACE,U_INT_FIN,U_INT_CND,U_VIEW
0,502550008,502550000.0,502550000,87,BEACON,ST,2-F,2108.0,102,CD,...,M,NaN,O,M,W,N,1.0,N,G,A
1,502550010,502550000.0,502550000,87,BEACON,ST,2-R,2108.0,102,CD,...,NaN,NaN,O,S,W,N,1.0,N,A,A
2,502550012,502550000.0,502550000,87,BEACON,ST,3-F,2108.0,102,CD,...,S,NaN,O,M,W,N,1.0,N,A,G
3,502550014,502550000.0,502550000,87,BEACON,ST,3-R,2108.0,102,CD,...,NaN,NaN,O,N,W,N,1.0,S,A,G
4,502550016,502550000.0,502550000,87,BEACON,ST,4,2108.0,102,CD,...,M,M,O,L,W,C,2.0,N,E,G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174663,2205668000,NaN,2205668000,4,LAKE,ST,NaN,2135.0,105,R3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174664,2205669000,NaN,2205669000,2193 2201,COMMONWEALTH,AV,NaN,2135.0,319,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174665,2205670000,NaN,2205670000,2203,COMMONWEALTH,AV,NaN,2135.0,985,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174666,2205670000,NaN,2205670000,2203,COMMONWEALTH,AV,NaN,2135.0,985,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174667,2205670000,NaN,2205670000,2203,COMMONWEALTH,AV,NaN,2135.0,985,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
properties.columns

In [15]:
properties.groupby('LU').count()

,PID,CM_ID,GIS_ID,ST_NUM,ST_NAME,ST_NAME_SUF,UNIT_NUM,ZIPCODE,PTYPE,OWN_OCC,...,U_BTH_STYLE3,U_KITCH_TYPE,U_KITCH_STYLE,U_HEAT_TYP,U_AC,U_FPLACE,U_INT_FIN,U_INT_CND,U_VIEW,PU
LU,,,,,,,,,,,,,,,,,,,,,
A,2904,1,2904,2904,2904,2901,0,2904,2904,2904,...,0,0,0,0,0,0,0,0,0,2904
AH,3,0,3,3,3,3,0,3,3,3,...,0,0,0,0,0,0,0,0,0,3
C,4392,106,4392,4392,4392,4386,0,4391,4392,4392,...,0,0,0,0,0,0,0,0,0,4392
CC,1803,1803,1803,1803,1803,1787,1793,1802,1803,1803,...,0,0,0,0,0,0,0,0,0,1803
CD,63896,63860,63896,63896,63896,63580,63893,63896,63896,63896,...,6929,63860,63860,63860,63860,63860,63860,63860,63860,63896
CL,1989,0,1989,1989,1989,1989,0,1989,1989,1989,...,0,0,0,0,0,0,0,0,0,1989
CM,9927,9927,9927,9927,9927,9918,0,9927,9927,9927,...,0,0,0,0,0,0,0,0,0,9927
E,8704,271,8704,8704,8704,8697,0,8703,8704,8704,...,1,184,184,184,184,184,184,184,184,8704
EA,496,0,496,496,496,496,0,496,496,496,...,0,0,0,0,0,0,0,0,0,496
I,491,0,491,491,491,491,0,491,491,491,...,0,0,0,0,0,0,0,0,0,491
R1,30569,1,30569,30569,30569,30541,0,30569,30569,30569,...,0,0,0,0,0,0,0,0,0,30569
R2,17212,0,17212,17212,17212,17182,0,17212,17212,17212,...,0,0,0,0,0,0,0,0,0,17212
R3,13966,0,13966,13966,13966,13964,0,13966,13966,13966,...,0,0,0,0,0,0,0,0,0,13966
R4,2528,0,2528,2528,2528,2527,0,2528,2528,2528,...,0,0,0,0,0,0,0,0,0,2528
RC,3159,31,3159,3159,3159,3155,0,3159,3159,3159,...,0,0,0,0,0,0,0,0,0,3159
RL,853,0,853,853,853,851,0,853,853,853,...,0,0,0,0,0,0,0,0,0,853

In [ ]:
newprops = properties[properties['YR_REMOD'] > 1800]
newprops.shape
#properties.plot.scatter(x='YR_REMOD', y='GROSS_TAX')

In [ ]:
newprops.plot.hist(y='YR_REMOD', bins=100);

In [ ]:
properties.plot.hist(y='LU');

In [ ]:
properties['YR_REMOD'].describe()

In [ ]:
properties.head()

In [7]:
properties.shape

(162892, 71)

In [4]:
# Droping features OWNER, MAIL_ADDRESSEE , MAIL_ADDRESS, MAIL CS, MAIL_ZIPCODE
properties = properties.drop(["OWNER", "MAIL_ADDRESSEE", "MAIL_ADDRESS", "MAIL CS", "MAIL_ZIPCODE"], axis=1)

In [6]:
# Label property based on property type
properties['PTYPE'].describe()

# Remove 012, 108, 110, 130-211 => Vacant fields, parking and storage

properties = properties[properties['PTYPE'] != 12]
properties = properties[properties['PTYPE'] != 108]
properties = properties[properties['PTYPE'] != 110]
properties = properties[properties['PTYPE'] != 119]
properties = properties[(properties['PTYPE'] < 130) | (properties['PTYPE'] > 211)]
print(properties.shape)

# 0-31 Mutli use 
# 101-110 Residential
# 111-211 Apartment
# 300-399 Commercial
# 400-465 Industrial
# 900-999 Exempt

Mu_prop = properties[properties['PTYPE'] <= 31]
Res_prop = properties[(properties['PTYPE'] >=101) & (properties['PTYPE'] <=110) ]
Apt_prop = properties[(properties['PTYPE'] >=111) & (properties['PTYPE'] <=211) ]
Com_prop = properties[(properties['PTYPE'] >=300) & (properties['PTYPE'] <=399) ]
Ind_prop = properties[(properties['PTYPE'] >=400) & (properties['PTYPE'] <=465) ]
Exp_prop = properties[(properties['PTYPE'] >=900) & (properties['PTYPE'] <=999) ]

print("Count of property types (not LAND USE type):")
print("Multi use = {},\nResidential = {},\nApartment = {},\nCommercial = {},\nIndustrial = {},\nExempt = {}".format(len(Mu_prop),len(Res_prop),len(Apt_prop),len(Com_prop),len(Ind_prop),len(Exp_prop)))

# Adding this as feature to existing data
properties['PU'] = pd.cut(properties['PTYPE'],bins=[0,31,110,211,399,465,999], labels=["MU","RES","APT","COM","IND","EXP"])
# print(properties.groupby('PU').count())

(162892, 70)
Count of property types (not LAND USE type):
Multi use = 3159,
Residential = 126496,
Apartment = 5432,
Commercial = 7949,
Industrial = 729,
Exempt = 19127
        PID  CM_ID  GIS_ID  ST_NUM  ST_NAME  ST_NAME_SUF  UNIT_NUM  ZIPCODE  \
PU
MU     3159     31    3159    3159     3159         3155         0     3159
RES  126496  63861  126496  126496   126496       126118     63893   126496
APT    5432      1    5432    5432     5432         5428         0     5432
COM    7949   1865    7949    7949     7949         7927      1749     7947
IND     729     44     729     729      729          729        44      729
EXP   19127  10198   19127   19127    19127        19111         0    19126

      PTYPE      LU  ...  U_BTH_STYLE2  U_BTH_STYLE3  U_KITCH_TYPE  \
PU                   ...
MU     3159    3159  ...             0             0             0
RES  126496  126496  ...         25436          6929         63860
APT    5432    5432  ...             0             0             0
COM    7949    7949  ...             0             0             0
IND     729     729  ...             0             0             0
EXP   19127   19127  ...            33             1           184

     U_KITCH_STYLE  U_HEAT_TYP   U_AC  U_FPLACE  U_INT_FIN  U_INT_CND  U_VIEW
PU
MU               0           0      0         0          0          0       0
RES          63860       63860  63860     63860      63860      63860   63860
APT              0           0      0         0          0          0       0
COM              0           0      0         0          0          0       0
IND              0           0      0         0          0          0       0
EXP            184         184    184       184        184        184     184

[6 rows x 70 columns]

In [14]:
# Housing = Multi use + Residential + Apartment property type
mu_res_apt_prop = pd.concat([Mu_prop, Res_prop, Apt_prop])
mu_res_apt_prop.shape
mu_res_apt_prop.groupby('LU').count()

,PID,CM_ID,GIS_ID,ST_NUM,ST_NAME,ST_NAME_SUF,UNIT_NUM,ZIPCODE,PTYPE,OWN_OCC,...,U_BTH_STYLE2,U_BTH_STYLE3,U_KITCH_TYPE,U_KITCH_STYLE,U_HEAT_TYP,U_AC,U_FPLACE,U_INT_FIN,U_INT_CND,U_VIEW
LU,,,,,,,,,,,,,,,,,,,,,
A,2904,1,2904,2904,2904,2901,0,2904,2904,2904,...,0,0,0,0,0,0,0,0,0,0
CD,63896,63860,63896,63896,63896,63580,63893,63896,63896,63896,...,25436,6929,63860,63860,63860,63860,63860,63860,63860,63860
R1,30569,1,30569,30569,30569,30541,0,30569,30569,30569,...,0,0,0,0,0,0,0,0,0,0
R2,17212,0,17212,17212,17212,17182,0,17212,17212,17212,...,0,0,0,0,0,0,0,0,0,0
R3,13966,0,13966,13966,13966,13964,0,13966,13966,13966,...,0,0,0,0,0,0,0,0,0,0
R4,2528,0,2528,2528,2528,2527,0,2528,2528,2528,...,0,0,0,0,0,0,0,0,0,0
RC,3159,31,3159,3159,3159,3155,0,3159,3159,3159,...,0,0,0,0,0,0,0,0,0,0
RL,853,0,853,853,853,851,0,853,853,853,...,0,0,0,0,0,0,0,0,0,0

In [18]:
# Separate residential (i.e. A+R1+R2+R3+R4+RC+RL) / condos(CD) based on land type
# This includes condo main
condo_housing_prop = mu_res_apt_prop[mu_res_apt_prop['LU'] == 'CD']
residential_housing_prop = mu_res_apt_prop[mu_res_apt_prop['LU'] != 'CD']

print('Number of housing units ({}):\nCondo type: {}\nResidential type: {}'.format(len(mu_res_apt_prop),len(condo_housing_prop),len(residential_housing_prop)))

Number of housing units (135087):
Condo type: 63896
Residential type: 71191

In [25]:
# Remove columns 23-45 from condo data (i.e. Structure class -> Residential view)
condo_housing_prop.columns
print(condo_housing_prop.shape)
condo_housing_prop = condo_housing_prop.drop(condo_housing_prop.iloc[:,23:45],axis=1)
print(condo_housing_prop.shape)

(63896, 70)
(63896, 48)

In [ ]:
# Segregate data based on land use type
# properties['LU'].describe()
# Since all are labelled
# prop_A = properties[properties['LU'] == 'A']
# prop_AH = properties[properties['LU'] == 'AH']
# prop_C = properties[properties['LU'] == 'C']
# prop_CC = properties[properties['LU'] == 'CC']
# prop_CD = properties[properties['LU'] == 'CD']
# prop_CL = properties[properties['LU'] == 'CL']
# prop_CM = properties[properties['LU'] == 'CM']
# prop_CP = properties[properties['LU'] == 'CP']
# prop_AH = properties[properties['LU'] == 'AH']
# prop_E = properties[properties['LU'] == 'E']
# prop_EA = properties[properties['LU'] == 'EA']
# prop_R1 = properties[properties['LU'] == 'R1']
# prop_R2 = properties[properties['LU'] == 'R2']
# prop_R3 = properties[properties['LU'] == 'R3']
# prop_R4 = properties[properties['LU'] == 'R4']
# prop_RC = properties[properties['LU'] == 'RC']
# prop_RL = properties[properties['LU'] == 'RL']