In [1]:

import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
# import statsmodels.api as sm
%matplotlib inline
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

from sklearn.decomposition import PCA

# from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LinearRegression
# from sklearn.feature_selection import RFE
# from sklearn.linear_model import RidgeCV, LassoCV, Ridge, Lasso

In [2]:
# RangeIndex: 174668 entries, 0 to 174667
# Data columns (total 75 columns):
# PID                174668 non-null int64 —> Unique 10-digit parcel number 
# CM_ID              82038 non-null float64 —>  10-digit parcel number of Condo Main, which houses all related condo units     
# GIS_ID             174668 non-null int64
# ST_NUM             174668 non-null object —> Street Number
# ST_NAME            174668 non-null object —> Street Name
# ST_NAME_SUF        174129 non-null object —> Street name suffix
# UNIT_NUM           65700 non-null object —> CONDO number within complex
# ZIPCODE            174661 non-null float64 —> zipcode
# PTYPE              174668 non-null int64 —> state class code
# LU                 174668 non-null object —> Land Use/Property Type
# OWN_OCC            174668 non-null object —> one-char code iniocading if owner receives reseidential exception as an ownber occupied property. 
# OWNER              174668 non-null object —> Primary owner of prop as og 01/1 
# MAIL_ADDRESSEE     174668 non-null object -> 
# MAIL_ADDRESS       174668 non-null object
# MAIL CS            174668 non-null object
# MAIL_ZIPCODE       174668 non-null object
# AV_LAND            174668 non-null int64 —> Total assesed land value
# AV_BLDG            174668 non-null int64 —> Total assesed building value
# AV_TOTAL           174668 non-null int64 —> Total assesed prop. value
# GROSS_TAX          174668 non-null int64 —> Tax billed based on total assed value multiplied by tax rate. 
# LAND_SF            169227 non-null float64 -> Total sqr feet. 
# YR_BUILT           169454 non-null float64 —> Year built 
# YR_REMOD           132872 non-null float64 —> Year remodeled 
# GROSS_AREA         169140 non-null float64 —> Gross floor area of COMMERCIAL properties
# LIVING_AREA        169140 non-null float64 —> Living are sqr footage 
# NUM_FLOORS         152139 non-null float64 — Num. floors
# STRUCTURE_CLASS    84501 non-null object —> classification of COMMERCIAL building
# R_BLDG_STYL        62760 non-null object —> RESIDENTIAL building style
# R_ROOF_TYP         62757 non-null object —> Roof type
# R_EXT_FIN          62757 non-null object —> Exterior finish
# R_TOTAL_RMS        62757 non-null float64 — Num. rooms
# R_BDRMS            62757 non-null float64 —> num beds
# R_FULL_BTH         62757 non-null float64 —> num FULL bath
# R_HALF_BTH         62757 non-null float64 —> num HALF bath
# R_BTH_STYLE        62757 non-null object —> RESIDENTIAL bath style
# R_BTH_STYLE2       54762 non-null object —> RESIDENTIAL bath style #2
# R_BTH_STYLE3       27184 non-null object —> RESIDENTIAL bath style #3
# R_KITCH            62757 non-null float64 —> Num. kitchen
# R_KITCH_STYLE      62757 non-null object —> RESIDENTIAL kitchen style
# R_KITCH_STYLE2     32829 non-null object —> RESIDENTIAL kitchen style #2
# R_KITCH_STYLE3     14566 non-null object —> RESIDENTIAL kitchen style #3
# R_HEAT_TYP         62757 non-null object —> Heat type
# R_AC               62757 non-null object —> Has AC? (Y/N) 
# R_FPLACE           62757 non-null float64 —> Num. fireplace
# R_EXT_CND          62757 non-null object —> RESIDENTIAL exterior condition
# R_OVRALL_CND       62757 non-null object —> RESIDENTIAL overall condition
# R_INT_CND          62757 non-null object —> RESIDENTIAL interior condition
# R_INT_FIN          62757 non-null object —> RESIDENTIAL interior finish
# R_VIEW             62757 non-null object —> RESIDENTIAL view
# S_NUM_BLDG         3567 non-null float64 —> Num buildings in CONDO MAIN
# S_BLDG_STYL        9930 non-null object —> Building style of CONDO MAIN 
# S_UNIT_RES         9930 non-null float64 —> Num. of RESIDENTIAL units in CONDO MAIN.
# S_UNIT_COM         9930 non-null float64 —> Num. of COMMERCIAL units in CONDO MAIN.
# S_UNIT_RC          9930 non-null float64 —> Num. of MIXED USE units in CONDO MAIN.
# S_EXT_FIN          9930 non-null object —> Exterior finish of CONDO MAIN
# S_EXT_CND          9930 non-null object —> CONDO MAIN exterior condition
# U_BASE_FLOOR       64044 non-null float64 —> Base floor of CONDO UNIT
# U_NUM_PARK         64044 non-null float64 —> Num. parking space
# U_CORNER           64044 non-null object —> CONDO UNIT in corner? (Y/N)
# U_ORIENT           64044 non-null object —> Orientation of CONDO UNIT in build. 
# U_TOT_RMS          64044 non-null object —> Num rooms in CONDO UNIT
# U_BDRMS            64044 non-null float64 —> Num. beds in CONDO UNIT
# U_FULL_BTH         64044 non-null float64 —> Num bath in CONDO UNIT 
# U_HALF_BTH         64044 non-null float64 —> Num. half bath in CONDO UNIT
# U_BTH_STYLE        64044 non-null object —> CONDO UNIT bath style
# U_BTH_STYLE2       25469 non-null object —> CONDO UNIT bath style #2
# U_BTH_STYLE3       6930 non-null object —> CONDO UNIT bath style #3
# U_KITCH_TYPE       64044 non-null object —> Type of kitchen in CONDO UNIT
# U_KITCH_STYLE      64044 non-null object —> CONDO UNIT kitchen style
# U_HEAT_TYP         64044 non-null object —> Type of heating in CONDO UNIT
# U_AC               64044 non-null object —>  Indicates if CONDO UNIT has self-controlled air conditioning
# U_FPLACE           64044 non-null float64 —> Num. Fireplace in CONDO UNIT
# U_INT_FIN          64044 non-null object —> CONDO UNIT interior finish
# U_INT_CND          64044 non-null object —> CONDO UNIT interior condition
# U_VIEW             64044 non-null object —> CONDO UNIT view

In [34]:
df = pd.read_csv('fy19fullpropassess.csv')

In [35]:
df.columns

Index(['PID', 'CM_ID', 'GIS_ID', 'ST_NUM', 'ST_NAME', 'ST_NAME_SUF',
       'UNIT_NUM', 'ZIPCODE', 'PTYPE', 'LU', 'OWN_OCC', 'OWNER',
       'MAIL_ADDRESSEE', 'MAIL_ADDRESS', 'MAIL CS', 'MAIL_ZIPCODE', 'AV_LAND',
       'AV_BLDG', 'AV_TOTAL', 'GROSS_TAX', 'LAND_SF', 'YR_BUILT', 'YR_REMOD',
       'GROSS_AREA', 'LIVING_AREA', 'NUM_FLOORS', 'STRUCTURE_CLASS',
       'R_BLDG_STYL', 'R_ROOF_TYP', 'R_EXT_FIN', 'R_TOTAL_RMS', 'R_BDRMS',
       'R_FULL_BTH', 'R_HALF_BTH', 'R_BTH_STYLE', 'R_BTH_STYLE2',
       'R_BTH_STYLE3', 'R_KITCH', 'R_KITCH_STYLE', 'R_KITCH_STYLE2',
       'R_KITCH_STYLE3', 'R_HEAT_TYP', 'R_AC', 'R_FPLACE', 'R_EXT_CND',
       'R_OVRALL_CND', 'R_INT_CND', 'R_INT_FIN', 'R_VIEW', 'S_NUM_BLDG',
       'S_BLDG_STYL', 'S_UNIT_RES', 'S_UNIT_COM', 'S_UNIT_RC', 'S_EXT_FIN',
       'S_EXT_CND', 'U_BASE_FLOOR', 'U_NUM_PARK', 'U_CORNER', 'U_ORIENT',
       'U_TOT_RMS', 'U_BDRMS', 'U_FULL_BTH', 'U_HALF_BTH', 'U_BTH_STYLE',
       'U_BTH_STYLE2', 'U_BTH_STYLE3', 'U_KITCH_TYPE', 'U_KITCH_STYLE',
       'U_HEAT_TYP', 'U_AC', 'U_FPLACE', 'U_INT_FIN', 'U_INT_CND', 'U_VIEW'],
      dtype='object')

In [36]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174668 entries, 0 to 174667
Data columns (total 75 columns):
PID                174668 non-null int64
CM_ID              82038 non-null float64
GIS_ID             174668 non-null int64
ST_NUM             174668 non-null object
ST_NAME            174668 non-null object
ST_NAME_SUF        174129 non-null object
UNIT_NUM           65700 non-null object
ZIPCODE            174661 non-null float64
PTYPE              174668 non-null int64
LU                 174668 non-null object
OWN_OCC            174668 non-null object
OWNER              174668 non-null object
MAIL_ADDRESSEE     174668 non-null object
MAIL_ADDRESS       174668 non-null object
MAIL CS            174668 non-null object
MAIL_ZIPCODE       174668 non-null object
AV_LAND            174668 non-null int64
AV_BLDG            174668 non-null int64
AV_TOTAL           174668 non-null int64
GROSS_TAX          174668 non-null int64
LAND_SF            169227 non-null float64
YR_BUILT           169454 non-null float64
YR_REMOD           132872 non-null float64
GROSS_AREA         169140 non-null float64
LIVING_AREA        169140 non-null float64
NUM_FLOORS         152139 non-null float64
STRUCTURE_CLASS    84501 non-null object
R_BLDG_STYL        62760 non-null object
R_ROOF_TYP         62757 non-null object
R_EXT_FIN          62757 non-null object
R_TOTAL_RMS        62757 non-null float64
R_BDRMS            62757 non-null float64
R_FULL_BTH         62757 non-null float64
R_HALF_BTH         62757 non-null float64
R_BTH_STYLE        62757 non-null object
R_BTH_STYLE2       54762 non-null object
R_BTH_STYLE3       27184 non-null object
R_KITCH            62757 non-null float64
R_KITCH_STYLE      62757 non-null object
R_KITCH_STYLE2     32829 non-null object
R_KITCH_STYLE3     14566 non-null object
R_HEAT_TYP         62757 non-null object
R_AC               62757 non-null object
R_FPLACE           62757 non-null float64
R_EXT_CND          62757 non-null object
R_OVRALL_CND       62757 non-null object
R_INT_CND          62757 non-null object
R_INT_FIN          62757 non-null object
R_VIEW             62757 non-null object
S_NUM_BLDG         3567 non-null float64
S_BLDG_STYL        9930 non-null object
S_UNIT_RES         9930 non-null float64
S_UNIT_COM         9930 non-null float64
S_UNIT_RC          9930 non-null float64
S_EXT_FIN          9930 non-null object
S_EXT_CND          9930 non-null object
U_BASE_FLOOR       64044 non-null float64
U_NUM_PARK         64044 non-null float64
U_CORNER           64044 non-null object
U_ORIENT           64044 non-null object
U_TOT_RMS          64044 non-null object
U_BDRMS            64044 non-null float64
U_FULL_BTH         64044 non-null float64
U_HALF_BTH         64044 non-null float64
U_BTH_STYLE        64044 non-null object
U_BTH_STYLE2       25469 non-null object
U_BTH_STYLE3       6930 non-null object
U_KITCH_TYPE       64044 non-null object
U_KITCH_STYLE      64044 non-null object
U_HEAT_TYP         64044 non-null object
U_AC               64044 non-null object
U_FPLACE           64044 non-null float64
U_INT_FIN          64044 non-null object
U_INT_CND          64044 non-null object
U_VIEW             64044 non-null object
dtypes: float64(24), int64(7), object(44)
memory usage: 99.9+ MB

In [37]:
# We have 75 features, many of which need to be converted to int, some of which may be dropped. 

# First, look for null values so we can dropna
null_columns=df.columns[df.isnull().any()]
df[null_columns].isnull().sum()

# This makes sense because not all features will apply to all rows. 
# For example, features specific to CONDO UNIT will be null for RESIDENTIAL properties
# Xo we can't drop all na (cleaned = cleaned.dropna()) b/c we would end up with an empty Dataframe

CM_ID               92630
ST_NAME_SUF           539
UNIT_NUM           108968
ZIPCODE                 7
LAND_SF              5441
YR_BUILT             5214
YR_REMOD            41796
GROSS_AREA           5528
LIVING_AREA          5528
NUM_FLOORS          22529
STRUCTURE_CLASS     90167
R_BLDG_STYL        111908
R_ROOF_TYP         111911
R_EXT_FIN          111911
R_TOTAL_RMS        111911
R_BDRMS            111911
R_FULL_BTH         111911
R_HALF_BTH         111911
R_BTH_STYLE        111911
R_BTH_STYLE2       119906
R_BTH_STYLE3       147484
R_KITCH            111911
R_KITCH_STYLE      111911
R_KITCH_STYLE2     141839
R_KITCH_STYLE3     160102
R_HEAT_TYP         111911
R_AC               111911
R_FPLACE           111911
R_EXT_CND          111911
R_OVRALL_CND       111911
R_INT_CND          111911
R_INT_FIN          111911
R_VIEW             111911
S_NUM_BLDG         171101
S_BLDG_STYL        164738
S_UNIT_RES         164738
S_UNIT_COM         164738
S_UNIT_RC          164738
S_EXT_FIN          164738
S_EXT_CND          164738
U_BASE_FLOOR       110624
U_NUM_PARK         110624
U_CORNER           110624
U_ORIENT           110624
U_TOT_RMS          110624
U_BDRMS            110624
U_FULL_BTH         110624
U_HALF_BTH         110624
U_BTH_STYLE        110624
U_BTH_STYLE2       149199
U_BTH_STYLE3       167738
U_KITCH_TYPE       110624
U_KITCH_STYLE      110624
U_HEAT_TYP         110624
U_AC               110624
U_FPLACE           110624
U_INT_FIN          110624
U_INT_CND          110624
U_VIEW             110624
dtype: int64

In [38]:
print('cleaned.shape Before dropping features:' + str(df.shape))

# Now let's drop some features we likely don't need. For example, we probably don;t need the mailing address of the property owner
features_to_drop = ['ST_NUM', 'ST_NAME', 'ST_NAME_SUF', 'UNIT_NUM', 'OWN_OCC', 'OWNER', 'MAIL_ADDRESS','MAIL_ADDRESSEE', 'MAIL CS', 'MAIL_ZIPCODE']
df = df.drop(features_to_drop, axis=1)

# We can also drop LU since it corresponds to PTYPE
df = df.drop(['LU'], axis=1)

print('cleaned.shape after dropping features:' + str(df.shape))

cleaned.shape Before dropping features:(174668, 75)
cleaned.shape after dropping features:(174668, 64)

In [39]:
# First, look for null values so we can dropna
null_columns=df.columns[df.isnull().any()]
df[null_columns].isnull().sum()

CM_ID               92630
ZIPCODE                 7
LAND_SF              5441
YR_BUILT             5214
YR_REMOD            41796
GROSS_AREA           5528
LIVING_AREA          5528
NUM_FLOORS          22529
STRUCTURE_CLASS     90167
R_BLDG_STYL        111908
R_ROOF_TYP         111911
R_EXT_FIN          111911
R_TOTAL_RMS        111911
R_BDRMS            111911
R_FULL_BTH         111911
R_HALF_BTH         111911
R_BTH_STYLE        111911
R_BTH_STYLE2       119906
R_BTH_STYLE3       147484
R_KITCH            111911
R_KITCH_STYLE      111911
R_KITCH_STYLE2     141839
R_KITCH_STYLE3     160102
R_HEAT_TYP         111911
R_AC               111911
R_FPLACE           111911
R_EXT_CND          111911
R_OVRALL_CND       111911
R_INT_CND          111911
R_INT_FIN          111911
R_VIEW             111911
S_NUM_BLDG         171101
S_BLDG_STYL        164738
S_UNIT_RES         164738
S_UNIT_COM         164738
S_UNIT_RC          164738
S_EXT_FIN          164738
S_EXT_CND          164738
U_BASE_FLOOR       110624
U_NUM_PARK         110624
U_CORNER           110624
U_ORIENT           110624
U_TOT_RMS          110624
U_BDRMS            110624
U_FULL_BTH         110624
U_HALF_BTH         110624
U_BTH_STYLE        110624
U_BTH_STYLE2       149199
U_BTH_STYLE3       167738
U_KITCH_TYPE       110624
U_KITCH_STYLE      110624
U_HEAT_TYP         110624
U_AC               110624
U_FPLACE           110624
U_INT_FIN          110624
U_INT_CND          110624
U_VIEW             110624
dtype: int64

In [52]:
# Let's dropna from select colums
na_to_drop = ['ZIPCODE', 'LAND_SF', 'YR_BUILT', 'YR_REMOD', 'CM_ID', 'STRUCTURE_CLASS']
df = df.dropna(subset=na_to_drop)
print('cleaned.shape after dropping na:' + str(df.shape))

cleaned.shape after dropping na:(5088, 64)

In [41]:
# Convert objects to int
features_to_convert_to_int = ['ZIPCODE', 'CM_ID', 'YR_BUILT', 'YR_REMOD']
df[features_to_convert_to_int] = df[features_to_convert_to_int].astype(int)

In [49]:
# Convert to dates
df = df[df.YR_BUILT != 0]
df.YR_BUILT.unique()
df.YR_BUILT = pd.to_datetime(df.YR_BUILT, format='%Y')

df = df[df.YR_REMOD != 0]
df = df[df.YR_REMOD != 1500]
df.YR_REMOD.unique()
df.YR_REMOD = pd.to_datetime(df.YR_REMOD, format='%Y')

df.info(verbose=True)

In [57]:
df = pd.get_dummies(df, columns=['STRUCTURE_CLASS'])

(5088, 68)

In [59]:
# For the sake of simplicty, just take the first 14 features 
# This is just an excercise to make sure I'm on the right track. When working with the final data we obviously can't drop this
# many features
df_slice = df.iloc[:,0:14]

In [64]:
# AV_TOTAL is the target column

X = df_slice.drop(['AV_TOTAL'], axis=1) # independent columns
y = df_slice['AV_TOTAL'] # AV_TOTAL is the target column

print(X.shape)
print(y.shape)

(5088, 13)
(5088,)

In [66]:
df_slice.head()

,PID,CM_ID,GIS_ID,ZIPCODE,PTYPE,AV_LAND,AV_BLDG,AV_TOTAL,GROSS_TAX,LAND_SF,YR_BUILT,YR_REMOD,GROSS_AREA,LIVING_AREA
21,502554000,502554000,502554000,2108,995,0,0,0,0,2519.0,1899-01-01,2008-01-01,0.0,0.0
204,100145000,100145000,100145000,2128,995,0,0,0,0,1653.0,1900-01-01,2015-01-01,0.0,0.0
215,100153000,100153000,100153000,2128,995,0,0,0,0,1900.0,1899-01-01,2005-01-01,0.0,0.0
220,100154000,100154000,100154000,2128,995,0,0,0,0,1900.0,1910-01-01,2000-01-01,0.0,0.0
304,100177000,100177000,100177000,2128,995,0,0,0,0,2087.0,1900-01-01,2016-01-01,0.0,0.0

In [65]:
#apply SelectKBest class to extract top 4 best features
bestfeatures = SelectKBest(score_func=chi2, k=4)
fit = bestfeatures.fit(X,y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)
#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']  #naming the dataframe columns
print(featureScores.nlargest(4,'Score'))  #print 10 best features

TypeError: float() argument must be a string or a number, not 'Timestamp'